<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.donhilion.beatit"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <receiver android:name=".BeatItWidget"
                  android:label="BeatItWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/beatit_widget_provider" />
        </receiver>

    </application>

</manifest>
